<!-- Page Banner Start -->
<section class="page-banner-two rel z-1">
  <div class="container-fluid">
    <hr class="mt-0">
    <div class="container">
      <div class="banner-inner pt-15 pb-25">
        <h2 class="page-title mb-10" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">بالی، اندونزی</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-20" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
            <li class="breadcrumb-item active">جزئیات تور</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner End -->


<!-- Tour Gallery start -->
<div class="tour-gallery">
  <div class="container-fluid">
    <div class="row gap-10 justify-content-center rel">
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="assets/images/destinations/destination-details1.jpg" alt="Destination">
        </div>
        <div class="gallery-item">
          <img src="assets/images/destinations/destination-details4.jpg" alt="Destination">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="assets/images/destinations/destination-details2.jpg" alt="Destination">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="assets/images/destinations/destination-details3.jpg" alt="Destination">
        </div>
        <div class="gallery-item">
          <img src="assets/images/destinations/destination-details5.jpg" alt="Destination">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="gallery-more-btn">
          <a href="contact.html" class="theme-btn style-two bgc-secondary">
            <span data-hover="مشاهده همه عکس ها">مشاهده همه عکس ها</span>
            <i class="fal fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tour Gallery End -->


<!-- Tour Header Area start -->
<section class="tour-header-area pt-70 rel z-1">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-6 col-lg-7">
        <div class="tour-header-content mb-15" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
          <span class="location d-inline-block mb-10"><i class="fal fa-map-marker-alt"></i> بالی، اندونزی</span>
          <div class="section-title pb-5">
            <h2>پیوند مجدد ساحل در جزیره نوسا پانادا، بالی، اندونزی</h2>
          </div>
          <div class="ratting">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 text-lg-start" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
        <div class="tour-header-social mb-10">
          <a href="#"><i class="far fa-share-alt"></i>اشتراک تور</a>
          <a href="#"><i class="fas fa-heart bgc-secondary"></i>لیست مورد علاقه</a>
        </div>
      </div>
    </div>
    <hr class="mt-50 mb-70">
  </div>
</section>
<!-- Tour Header Area end -->


<!-- Tour Details Area start -->
<section class="tour-details-page pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="tour-details-content">
          <h3>جستجو تور</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
          <div class="row pb-55">
            <div class="col-md-6">
              <div class="tour-include-exclude mt-30">
                <h5>لورم ایپسوم متن ساختگی</h5>
                <ul class="list-style-one check mt-25">
                  <li><i class="far fa-check"></i> انتخاب خدمات</li>
                  <li><i class="far fa-check"></i> 1 وعده غذایی در روز</li>
                  <li><i class="far fa-check"></i> شام کروز و رویداد موسیقی</li>
                  <li><i class="far fa-check"></i> از 7 بهترین مکان شهر دیدن کنید</li>
                  <li><i class="far fa-check"></i> حمل و نقل اتوبوس تور لوکس</li>
                  <li><i class="far fa-check"></i> حمل و نقل اتوبوس تور لوکس</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tour-include-exclude mt-30">
                <h5>لورم ایپسوم متن ساختگی</h5>
                <ul class="list-style-one mt-25">
                  <li><i class="far fa-times"></i> انعام</li>
                  <li><i class="far fa-times"></i> تحویل هتل</li>
                  <li><i class="far fa-times"></i> ناهار، غذا و نوشیدنی</li>
                  <li><i class="far fa-times"></i> ارتقاء اختیاری</li>
                  <li><i class="far fa-times"></i> خدمات اضافی</li>
                  <li><i class="far fa-times"></i> بیمه</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <h3>فعالیت ها</h3>
        <div class="tour-activities mt-30 mb-45">
          <div class="tour-activity-item">
            <i class="flaticon-hiking"></i>
            <b>پیاده روی</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-fishing"></i>
            <b>ماهیگیری</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-man"></i>
            <b>تیراندازی با کایاک</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-kayak-1"></i>
            <b>کایاک</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-bonfire"></i>
            <b>آتش کمپ</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-flashlight"></i>
            <b>کاوش</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-cycling"></i>
            <b>دوچرخه سواری</b>
          </div>
          <div class="tour-activity-item">
            <i class="flaticon-meditation"></i>
            <b>یوگا</b>
          </div>
        </div>

        <h3>برنامه سفر</h3>
        <div class="accordion-two mt-25 mb-60" id="faq-accordion-two">
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne">
                روز 1 - رسیدن به محل کمپ
              </button>
            </h5>
            <div id="collapseTwoOne" class="accordion-collapse collapse" data-bs-parent="#faq-accordion-two">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo">
                روز 2 - زود از خواب بیدار شوید و یک پیاده روی یک روزه را آغاز کنید
              </button>
            </h5>
            <div id="collapseTwoTwo" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion-two">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwoThree">
                روز 3 - به یک پیاده روی طبیعت گردی که توسط محیط بان هدایت می شود بپیوندید
              </button>
            </h5>
            <div id="collapseTwoThree" class="accordion-collapse collapse" data-bs-parent="#faq-accordion-two">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwoFour">
                روز 4 - از پیاده روی استراحت کنید
              </button>
            </h5>
            <div id="collapseTwoFour" class="accordion-collapse collapse" data-bs-parent="#faq-accordion-two">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwoFive">
                روز 5 - ناهار را بسته بندی کنید و پیاده روی طولانی تری را آغاز کنید
              </button>
            </h5>
            <div id="collapseTwoFive" class="accordion-collapse collapse" data-bs-parent="#faq-accordion-two">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
        </div>

        <h3>سوالات متداول</h3>
        <div class="accordion-one mt-25 mb-60" id="faq-accordion">
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                1. آژانس تور و مسافرتی شما چه خدماتی ارائه می دهد؟
              </button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                2. چگونه یک تور یا بسته مسافرتی رزرو کنم؟
              </button>
            </h5>
            <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                3. چه نوع تورهایی را پیشنهاد می کنید؟
              </button>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                4. آیا می توانم بسته سفر خود را سفارشی کنم؟
              </button>
            </h5>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                5. آیا تورهای شما برای خانواده های دارای فرزند مناسب است؟
              </button>
            </h5>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              </div>
            </div>
          </div>
        </div>

        <h3>نقشه</h3>
        <div class="tour-map mt-30 mb-50">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207344.07543450777!2d51.182844920331135!3d35.70774021757542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2sbd!4v1724856754423!5m2!1sen!2sbd" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <h3>نظرات مشتریان</h3>
        <div class="clients-reviews bgc-black mt-30 mb-60">
          <div class="left">
            <b>4.8</b>
            <span>(586 نظرات)</span>
            <div class="ratting">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
          <div class="right">
            <div class="ratting-item">
              <span class="title">خدمات</span>
              <span class="line"><span style="width: 80%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="ratting-item">
              <span class="title">راهنماها</span>
              <span class="line"><span style="width: 70%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="ratting-item">
              <span class="title">قیمت</span>
              <span class="line"><span style="width: 80%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="ratting-item">
              <span class="title">ایمنی</span>
              <span class="line"><span style="width: 80%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="ratting-item">
              <span class="title">غذاها</span>
              <span class="line"><span style="width: 80%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="ratting-item">
              <span class="title">هتل ها</span>
              <span class="line"><span style="width: 80%;"></span></span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <h3>نظرات مشتریان</h3>
        <div class="comments mt-30 mb-60">
          <div class="comment-body" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="author-thumb">
              <img src="assets/images/blog/comment-author1.jpg" alt="Author">
            </div>
            <div class="content">
              <h6>مسعود راستی</h6>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <span class="time">ونیز، رم و میلان - 9 روز و 8 شب</span>
              <p>تورها و سفرها با ارائه تجربیات منحصر به فرد، تبادلات فرهنگی و لذت اکتشاف، نقش مهمی در غنی سازی زندگی ایفا می کنند.</p>
              <a class="read-more" href="#">پاسخ <i class="far fa-angle-left"></i></a>
            </div>
          </div>
          <div class="comment-body comment-child" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="author-thumb">
              <img src="assets/images/blog/comment-author2.jpg" alt="Author">
            </div>
            <div class="content">
              <h6>مریم همتی</h6>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <span class="time">ونیز، رم و میلان - 9 روز و 8 شب</span>
              <p>تورها و سفرها با ارائه تجربیات منحصر به فرد، تبادلات فرهنگی و لذت اکتشاف، نقش مهمی در غنی سازی زندگی ایفا می کنند.</p>
              <a class="read-more" href="#">پاسخ <i class="far fa-angle-left"></i></a>
            </div>
          </div>
          <div class="comment-body" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="author-thumb">
              <img src="assets/images/blog/comment-author3.jpg" alt="Author">
            </div>
            <div class="content">
              <h6>الناز روستایی</h6>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <span class="time">ونیز، رم و میلان - 9 روز و 8 شب</span>
              <p>تورها و سفرها با ارائه تجربیات منحصر به فرد، تبادلات فرهنگی و لذت اکتشاف، نقش مهمی در غنی سازی زندگی ایفا می کنند.</p>
              <a class="read-more" href="#">پاسخ <i class="far fa-angle-left"></i></a>
            </div>
          </div>
        </div>

        <h3>ارسال نظرات</h3>
        <form id="comment-form" class="comment-form bgc-lighter z-1 rel mt-30" name="review-form" action="#" method="post" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
          <div class="comment-review-wrap">
            <div class="comment-ratting-item">
              <span class="title">خدمان</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="comment-ratting-item">
              <span class="title">راهنماها</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="comment-ratting-item">
              <span class="title">قیمت</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="comment-ratting-item">
              <span class="title">ایمنی</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="comment-ratting-item">
              <span class="title">غذاها</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
            <div class="comment-ratting-item">
              <span class="title">هتل ها</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
          <hr class="mt-30 mb-40">
          <h5>ارسال بازخورد</h5>
          <div class="row gap-20 mt-20">
            <div class="col-md-6">
              <div class="form-group">
                <label for="full-name">نام</label>
                <input type="text" id="full-name" name="full-name" class="form-control" value="" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">تلفن</label>
                <input type="text" id="phone" name="phone" class="form-control" value="" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="email-address">ایمیل</label>
                <input type="email" id="email-address" name="email" class="form-control" value="" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="message">نظرات</label>
                <textarea name="message" id="message" class="form-control" rows="5" required=""></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mb-0">
                <button type="submit" class="theme-btn bgc-secondary style-two">
                  <span data-hover="ارسال نظرات">ارسال نظرات</span>
                  <i class="fal fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="col-lg-4 col-md-8 col-sm-10 rmt-75">
        <div class="blog-sidebar tour-sidebar">

          <div class="widget widget-booking" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <h5 class="widget-title">رزرو تور</h5>
            <form action="#">
              <div class="date mb-25">
                <b>از تاریخ</b>
                <input type="date">
              </div>
              <hr>
              <div class="time py-5">
                <b>ساعت :</b>
                <ul class="radio-filter">
                  <li>
                    <input class="form-check-input" checked type="radio" name="time" id="time1">
                    <label for="time1">12:00</label>
                  </li>
                  <li>
                    <input class="form-check-input" type="radio" name="time" id="time2">
                    <label for="time2">08:00</label>
                  </li>
                </ul>
              </div>
              <hr class="mb-25">
              <h6>بلیط:</h6>
              <ul class="tickets clearfix">
                <li>
                  بزرگسالان (18 سال) <span class="price">280 تومان</span>
                  <select name="18-" id="18-">
                    <option value="value1">1</option>
                    <option value="value1">2</option>
                    <option value="value1" selected>3</option>
                  </select>
                </li>
                <li>
                  بزرگسالان (18 سال به بالا) <span class="price">500 تومان</span>
                  <select name="18+" id="18+">
                    <option value="value1">1</option>
                    <option value="value1">2</option>
                    <option value="value1">3</option>
                  </select>
                </li>
              </ul>
              <hr class="mb-25">
              <h6>اضافه:</h6>
              <ul class="radio-filter pt-5">
                <li>
                  <input class="form-check-input" checked type="radio" name="AddExtra" id="add-extra1">
                  <label for="add-extra1">خدمات را در هر رزرو اضافه کنید <span>50 تومان</span></label>
                </li>
                <li>
                  <input class="form-check-input" type="radio" name="AddExtra" id="add-extra2">
                  <label for="add-extra2">اضافه کردن خدمات به ازای هر شخصی <span>24 تومان</span></label>
                </li>
              </ul>
              <hr>
              <h6>جمع: <span class="price">74 تومان</span></h6>
              <button type="submit" class="theme-btn style-two w-100 mt-15 mb-5">
                <span data-hover="رزرو کنید">رزرو کنید</span>
                <i class="fal fa-arrow-right"></i>
              </button>
              <div class="text-center">
                <a href="contact.html">به کمک نیاز دارید؟</a>
              </div>
            </form>
          </div>

          <div class="widget widget-contact" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <h5 class="widget-title">به کمک نیاز دارید؟</h5>
            <ul class="list-style-one">
<!--              <li><i class="far fa-envelope"></i> <a href="emilto:helpxample@gmail.com">helpxample@gmail.com</a></li>-->
              <li><i class="far fa-phone-volume"></i> <a href="callto:021 1234567">021 1234567</a></li>
            </ul>
          </div>

          <div class="widget widget-cta" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="content text-white">
              <span class="h6">جستجو جهان</span>
              <h3>بهترین مکان توریستی</h3>
              <a href="tour-grid.html" class="theme-btn style-two bgc-secondary">
                <span data-hover="جستجو">جستجو</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
            <div class="image">
              <img src="assets/images/widgets/cta-widget.png" alt="CTA">
            </div>
            <div class="cta-shape"><img src="assets/images/widgets/cta-shape3.png" alt="Shape"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tour Details Area end -->


<!-- Newsletter Area start -->
<section class="newsletter-three bgc-primary py-100 rel z-1" style="background-image: url(assets/images/newsletter/newsletter-bg-lines.png);">
  <div class="container container-1500">
    <div class="row">
      <div class="col-lg-6">
        <div class="newsletter-content-part text-white rmb-55" data-aos="zoom-in-left" data-aos-duration="1500" data-aos-offset="50">
          <div class="section-title counter-text-wrap mb-45">
            <h2>برای دریافت پیشنهادات و نکات بیشتر در خبرنامه </h2>
            <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه ای که به یاد خواهید آورد</p>
          </div>
          <form class="newsletter-form mb-15" action="#">
            <input id="news-email" type="email" placeholder="آدرس ایمیل" required>
            <button type="submit" class="theme-btn bgc-secondary style-two">
              <span data-hover="اشتراک">اشتراک</span>
              <i class="fal fa-arrow-right"></i>
            </button>
          </form>
          <p>بدون نیاز به کارت اعتباری بدون تعهد</p>
        </div>
        <div class="newsletter-bg-image" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
          <img src="assets/images/newsletter/newsletter-bg-image.png" alt="Newsletter">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-image-part bgs-cover" style="background-image: url(assets/images/newsletter/newsletter-two-right.jpg);" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50"></div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Area end -->
