<div class="page-wrapper">


  <!-- Hero Area Start -->
  <section class="hero-area bgc-black pt-200 rpt-120 rel z-2">
    <div class="container-fluid">
      <h1 class="hero-title" data-aos="flip-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">تور و
        گردشگری</h1>
      <div class="main-hero-image bgs-cover" style="background-image: url(assets/images/hero/hero.jpg);"></div>
    </div>
    <div class="container container-1400">
      <div class="search-filter-inner" data-aos="zoom-out-down" data-aos-duration="1500" data-aos-offset="50">
        <div class="filter-item clearfix">
          <div class="icon"><i class="fal fa-map-marker-alt"></i></div>
          <span class="title">مقصدها</span>
          <select class="select-nice" name="city" id="city">
            <option value="value1">شهر یا منطقه</option>
            <option value="value2">شهر</option>
            <option value="value2">منطقه</option>
          </select>
        </div>
        <div class="filter-item clearfix">
          <div class="icon"><i class="fal fa-flag"></i></div>
          <span class="title">تمام فعالیت</span>
          <select class="select-nice" class="select-nice TourType-cmb" name="activity" id="activity">
            <option>انتخاب کنید</option>
            @for (TourType of TourTypes; track $index) {
              <option [value]="TourType.Guid">{{ TourType.Name }}</option>
            }
          </select>
        </div>
        <div class="filter-item clearfix">
          <div class="icon"><i class="fal fa-calendar-alt"></i></div>
          <span class="title">تاریخ حرکت</span>
          <div>
            <qeydar-date-picker [minDate]="today" [(ngModel)]="SearchDate"
                                [calendarType]="'jalali'" placeholder="تاریخ انتخاب کنید"></qeydar-date-picker>
          </div>
        </div>
        <div class="filter-item clearfix">
          <div class="icon"><i class="fal fa-users"></i></div>
          <span class="title">مهمانان</span>
          <select class="select-nice" name="cuests" id="cuests">
            <option value="value1">0</option>
            <option value="value2">1</option>
            <option value="value2">2</option>
          </select>
        </div>
        <div class="search-button">
          <button class="theme-btn">
            <span data-hover="جستجو">جستجو</span>
            <i class="far fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Area End -->


  <!-- Destinations Area start -->
  <section class="destinations-area bgc-black pt-100 pb-70 rel z-1">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title text-white text-center counter-text-wrap mb-70" data-aos="fade-up"
               data-aos-duration="1500" data-aos-offset="50">
            <h2>مکان های دیدنی جهان را با راولو سفر کنید</h2>
            <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه ای که
              به یاد خواهید آورد</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="destination-item" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/visiting-place1.jpg" alt="Destination">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> تورهای فرانسه</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <span class="time">3 روز 2 شب - دونفره</span>
            </div>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="#" class="read-more">رزرو تور <i class="fal fa-angle-left"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="destination-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500"
               data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/visiting-place2.jpg" alt="Destination">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <span class="time">3 روز 2 شب - دونفره</span>
            </div>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="#" class="read-more">رزرو تور <i class="fal fa-angle-left"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="destination-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500"
               data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/visiting-place3.jpg" alt="Destination">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <span class="time">3 روز 2 شب - دونفره</span>
            </div>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="#" class="read-more">رزرو تور <i class="fal fa-angle-left"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
          <div class="destination-item" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500"
               data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/visiting-place4.jpg" alt="Destination">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <span class="time">3 روز 2 شب - دونفره</span>
            </div>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="#" class="read-more">رزرو تور <i class="fal fa-angle-left"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Destinations Area end -->


  <!-- About Us Area start -->
  <section class="about-us-area py-100 rpb-90 rel z-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6">
          <div class="about-us-content rmb-55" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
            <div class="section-title mb-25">
              <h2>سفر با اطمینان دلایل اصلی برای انتخاب آژانس ما</h2>
            </div>
            <p>ما فراتر از آن می رویم تا رویاهای سفر شما را به گوهرهای پنهان و جاذبه های دیدنی تبدیل کنیم</p>
            <div class="divider counter-text-wrap mt-45 mb-55"><span>ما <span><span class="count-text plus"
                                                                                    data-speed="3000"
                                                                                    data-stop="25">0</span> سال</span> تجربه داریم</span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="counter-item counter-text-wrap">
                  <span class="count-text k-plus" data-speed="3000" data-stop="3">0</span>
                  <span class="counter-title">مقصد محبوب</span>
                </div>
              </div>
              <div class="col-6">
                <div class="counter-item counter-text-wrap">
                  <span class="count-text m-plus" data-speed="3000" data-stop="9">0</span>
                  <span class="counter-title">مشتریان راضی</span>
                </div>
              </div>
            </div>
            <a href="destination1.html" class="theme-btn mt-10 style-two">
              <span data-hover="جستجو مقصدها">جستجو مقصدها</span>
              <i class="fal fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
          <div class="about-us-image">
            <div class="shape"><img src="assets/images/about/shape1.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape2.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape3.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape4.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape5.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape6.png" alt="Shape"></div>
            <div class="shape"><img src="assets/images/about/shape7.png" alt="Shape"></div>
            <img src="assets/images/about/about.png" alt="About">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Area end -->


  <!-- Popular Destinations Area start -->
  <section class="popular-destinations-area rel z-1">
    <div class="container-fluid">
      <div class="popular-destinations-wrap br-20 bgc-lighter pt-100 pb-70">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section-title text-center counter-text-wrap mb-70" data-aos="fade-up" data-aos-duration="1500"
                 data-aos-offset="50">
              <h2>جستجو در مقصدهای محبوب</h2>
              <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-duration="1500" data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination1.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">ساحل تایلند</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-delay="100" data-aos-duration="1500"
                   data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination2.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">پارگا، یونان</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1500"
                   data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination3.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">سواحل ,ایتالیا</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-duration="1500" data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination4.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">کانادا</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-delay="100" data-aos-duration="1500"
                   data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination5.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">دبی ایالات متحده</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="destination-item style-two" data-aos="flip-up" data-aos-delay="200" data-aos-duration="1500"
                   data-aos-offset="50">
                <div class="image">
                  <a href="#" class="heart"><i class="fas fa-heart"></i></a>
                  <img src="assets/images/destinations/destination6.jpg" alt="Destination">
                </div>
                <div class="content">
                  <h6><a href="destination-details.html">میلوس، یونان</a></h6>
                  <span class="time">5352+ تور و 856+ فعالیت</span>
                  <a href="#" class="more"><i class="fas fa-chevron-left"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Popular Destinations Area end -->


  <!-- Features Area start -->
  <section class="features-area pt-100 pb-45 rel z-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6">
          <div class="features-content-part mb-55" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
            <div class="section-title mb-60">
              <h2>ویژگی های تجربه سفر نهایی که آژانس ما را متمایز می کند</h2>
            </div>
            <div class="features-customer-box">
              <div class="image">
                <img src="assets/images/features/features-box.jpg" alt="Features">
              </div>
              <div class="content">
                <div class="feature-authors mb-15">
                  <img src="assets/images/features/feature-author1.jpg" alt="Author">
                  <img src="assets/images/features/feature-author2.jpg" alt="Author">
                  <img src="assets/images/features/feature-author3.jpg" alt="Author">
                  <span>4k+</span>
                </div>
                <h6>850K+ مشتری راضی</h6>
                <div class="divider style-two counter-text-wrap my-25"><span><span class="count-text plus"
                                                                                   data-speed="3000"
                                                                                   data-stop="25">0</span> سال</span>
                </div>
                <p>ما به خود افتخار می کنیم که برنامه های سفر شخصی را ارائه می دهیم</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
          <div class="row pb-25">
            <div class="col-md-6">
              <div class="feature-item">
                <div class="icon"><i class="flaticon-tent"></i></div>
                <div class="content">
                  <h5><a href="tour-details.html">چادر کمپینگ</a></h5>
                  <p>چادر زدن راهی فوق العاده برای ارتباط با طبیعت است</p>
                </div>
              </div>
              <div class="feature-item">
                <div class="icon"><i class="flaticon-tent"></i></div>
                <div class="content">
                  <h5><a href="tour-details.html">کایاک سواری</a></h5>
                  <p>کایاک سواری یک فعالیت هیجان انگیز در فضای باز است </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item mt-20">
                <div class="icon"><i class="flaticon-tent"></i></div>
                <div class="content">
                  <h5><a href="tour-details.html">دوچرخه سواری</a></h5>
                  <p>دوچرخه سواری کوهستان ورزشی مهیج نسبت به آماد</p>
                </div>
              </div>
              <div class="feature-item">
                <div class="icon"><i class="flaticon-tent"></i></div>
                <div class="content">
                  <h5><a href="tour-details.html">ماهیگیری</a></h5>
                  <p>ماهیگیری و قایق باعث شادی فعالیت های اساسی می شود</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Area end -->


  <!-- Hotel Area start -->
  <section class="hotel-area bgc-black py-100 rel z-1">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title text-white text-center counter-text-wrap mb-70" data-aos="fade-up"
               data-aos-duration="1500" data-aos-offset="50">
            <h2>برترین هتل های جهان</h2>
            <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه ای که
              به یاد خواهید آورد</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="destination-item style-three" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/hotel1.jpg" alt="Hotel">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> آئو نانگ، تایلند</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <ul class="list-style-one">
                <li><i class="fal fa-bed-alt"></i> 2 خواب</li>
                <li><i class="fal fa-hat-chef"></i> 1 آشپزخانه</li>
                <li><i class="fal fa-bath"></i> 2 حمام</li>
                <li><i class="fal fa-router"></i> اینترنت</li>
              </ul>
              <div class="destination-footer">
                <span class="price"><span>850 تومان </span> / در هر شب</span>
                <a href="#" class="read-more">رزرو هتل <i class="fal fa-angle-left"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="destination-item style-three" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500"
               data-aos-offset="50">
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/hotel2.jpg" alt="Hotel">
            </div>
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> کیگالی، رواندا</span>
              <h5><a href="destination-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <ul class="list-style-one">
                <li><i class="fal fa-bed-alt"></i> 2 خواب</li>
                <li><i class="fal fa-hat-chef"></i> 1 آشپزخانه</li>
                <li><i class="fal fa-bath"></i> 2 حمام</li>
                <li><i class="fal fa-router"></i> اینترنت</li>
              </ul>
              <div class="destination-footer">
                <span class="price"><span>850 تومان </span> / در هر شب</span>
                <a href="#" class="read-more">رزرو هتل <i class="fal fa-angle-left"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="destination-item style-three" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> آئو نانگ، تایلند</span>
              <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <ul class="list-style-one">
                <li><i class="fal fa-bed-alt"></i> 2 خواب</li>
                <li><i class="fal fa-hat-chef"></i> 1 آشپزخانه</li>
                <li><i class="fal fa-bath"></i> 2 حمام</li>
                <li><i class="fal fa-router"></i> اینترنت</li>
              </ul>
              <div class="destination-footer">
                <span class="price"><span>850 تومان </span> / در هر شب</span>
                <a href="#" class="read-more">رزرو هتل <i class="fal fa-angle-left"></i></a>
              </div>
            </div>
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/hotel3.jpg" alt="Hotel">
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="destination-item style-three" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500"
               data-aos-offset="50">
            <div class="content">
              <span class="location"><i class="fal fa-map-marker-alt"></i> آئو نانگ، تایلند</span>
              <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h5>
              <ul class="list-style-one">
                <li><i class="fal fa-bed-alt"></i> 2 خواب</li>
                <li><i class="fal fa-hat-chef"></i> 1 آشپزخانه</li>
                <li><i class="fal fa-bath"></i> 2 حمام</li>
                <li><i class="fal fa-router"></i> اینترنت</li>
              </ul>
              <div class="destination-footer">
                <span class="price"><span>850 تومان </span> / در هر شب</span>
                <a href="#" class="read-more">رزرو هتل <i class="fal fa-angle-left"></i></a>
              </div>
            </div>
            <div class="image">
              <div class="ratting"><i class="fas fa-star"></i> 4.8</div>
              <a href="#" class="heart"><i class="fas fa-heart"></i></a>
              <img src="assets/images/destinations/hotel4.jpg" alt="Hotel">
            </div>
          </div>
        </div>
      </div>
      <div class="hotel-more-btn text-center mt-40">
        <a href="destination2.html" class="theme-btn style-four">
          <span data-hover="هتل های بیشتر">هتل های بیشتر</span>
          <i class="fal fa-arrow-left"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- Hotel Area end -->


  <!-- Mobile App Area start -->
  <section class="mobile-app-area py-100 rel z-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="mobile-app-content rmb-55" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
            <div class="section-title mb-30">
              <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h2>
            </div>
            <p>ما فراتر از آن می رویم تا رویاهای سفر شما را به واقعیت تبدیل کنیم. به ما اعتماد کنید تا جزئیات را مدیریت
              کنیم تا بتوانید خاطرات فراموش نشدنی بسازید. جهان را با اعتماد به نفس کاوش کنید</p>
            <ul class="list-style-two mt-35 mb-30">
              <li>تجربه بالا آژانس</li>
              <li>تیم حرفه ای</li>
              <li>سفر کم هزینه</li>
              <li>پشتیبانی آنلاین 24/7</li>
            </ul>
            <div class="google-play-app-store">
              <a href="#"><img src="assets/images/mobile-app/g-play.jpg" alt="Google Play"></a>
              <a href="#"><img src="assets/images/mobile-app/a-store.jpg" alt="App Store"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mobile-app-images">
            <div class="bg"><img src="assets/images/mobile-app/phone-bg.png" alt="BG"></div>
            <div class="images">
              <img src="assets/images/mobile-app/phone2.png" alt="Phone" data-aos="fade-down-right"
                   data-aos-duration="1500" data-aos-offset="50">
              <img src="assets/images/mobile-app/phone.png" alt="Phone">
              <img src="assets/images/mobile-app/phone3.png" alt="Phone" data-aos="fade-up-left"
                   data-aos-duration="1500" data-aos-offset="50">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mobile App Area end -->


  <!-- Testimonials Area start -->
  <section class="testimonials-area rel z-1">
    <div class="container">
      <div class="testimonials-wrap bgc-lighter">
        <div class="row">
          <div class="col-lg-5 rel" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
            <div class="testimonial-left-image rmb-55"
                 style="background-image: url(assets/images/testimonials/testimonial-left.jpg);"></div>
          </div>
          <div class="col-lg-7">
            <div class="testimonial-right-content" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
              <div class="section-title mb-55">
                <h2><span>5280</span> مشتری درباره خدمات ما می گویند</h2>
              </div>
              <div class="testimonials-active">
                <div class="testimonial-item">
                  <div class="testi-header">
                    <div class="quote"><i class="flaticon-double-quotes"></i></div>
                    <h4>خدمات با کیفیت</h4>
                    <div class="ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="text">"سفر ما کاملاً عالی بود، با تشکر از این آژانس مسافرتی! آنها از همه جزئیات، از محل
                    اقامت گرفته تا محل اقامت، مراقبت کردند و حتی تجربیات باورنکردنی را پیشنهاد کردند"
                  </div>
                  <div class="author">
                    <div class="image"><img src="assets/images/testimonials/author.jpg" alt="Author"></div>
                    <div class="content">
                      <h5>الناز روستایی</h5>
                      <span>مسافران</span>
                    </div>
                  </div>
                </div>
                <div class="testimonial-item">
                  <div class="testi-header">
                    <div class="quote"><i class="flaticon-double-quotes"></i></div>
                    <h4>خدمات با کیفیت</h4>
                    <div class="ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="text">"سفر ما کاملاً عالی بود، با تشکر از این آژانس مسافرتی! آنها از همه جزئیات، از محل
                    اقامت گرفته تا محل اقامت، مراقبت کردند و حتی تجربیات باورنکردنی را پیشنهاد کردند"
                  </div>
                  <div class="author">
                    <div class="image"><img src="assets/images/testimonials/author.jpg" alt="Author"></div>
                    <div class="content">
                      <h5>الناز روستایی</h5>
                      <span>مسافران</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials Area end -->


  <!-- CTA Area start -->
  <section class="cta-area pt-100 rel z-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 col-md-6" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-offset="50">
          <div class="cta-item" style="background-image: url(assets/images/cta/cta1.jpg);">
            <span class="category">چادر کمپینگ</span>
            <h2>بهترین گردشگری جهان</h2>
            <a href="tour-details.html" class="theme-btn style-two bgc-secondary">
              <span data-hover="جستجو تورها">جستجو تورها</span>
              <i class="fal fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6" data-aos="zoom-in-down" data-aos-delay="50" data-aos-duration="1500"
             data-aos-offset="50">
          <div class="cta-item" style="background-image: url(assets/images/cta/cta2.jpg);">
            <span class="category">ساحل دریا</span>
            <h2>بزرگترین ساحل دریای جهان در تایلند</h2>
            <a href="tour-details.html" class="theme-btn style-two">
              <span data-hover="جستجو تورها">جستجو تورها</span>
              <i class="fal fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6" data-aos="zoom-in-down" data-aos-delay="100" data-aos-duration="1500"
             data-aos-offset="50">
          <div class="cta-item" style="background-image: url(assets/images/cta/cta3.jpg);">
            <span class="category">بزرگترین آبشار</span>
            <h2>بزرگترین آبشار بالی، اندونزی</h2>
            <a href="tour-details.html" class="theme-btn style-two bgc-secondary">
              <span data-hover="جستجو تورها">جستجو تورها</span>
              <i class="fal fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA Area end -->


  <!-- Blog Area start -->
  <section class="blog-area py-70 rel z-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title text-center counter-text-wrap mb-70" data-aos="fade-up" data-aos-duration="1500"
               data-aos-offset="50">
            <h2>آخرین اخبار و وبلاگ</h2>
            <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه ای که
              به یاد خواهید آورد</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6">
          <div class="blog-item" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
            <div class="content">
              <a href="blog.html" class="category">سفر</a>
              <h5><a href="blog-details.html">راهنمای نهایی برای برنامه ریزی تعطیلات رویایی شما</a></h5>
              <ul class="blog-meta">
                <li><i class="far fa-calendar-alt"></i> <a href="#">25 اسفند 1403</a></li>
                <li><i class="far fa-comments"></i> <a href="#">نظرات (5)</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="assets/images/blog/blog1.jpg" alt="Blog">
            </div>
            <a href="blog-details.html" class="theme-btn">
              <span data-hover="ادامه مطلب">ادامه مطلب</span>
              <i class="fal fa-arrow-left"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="blog-item" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
            <div class="content">
              <a href="blog.html" class="category">سفر</a>
              <h5><a href="blog-details.html">راهنمای نهایی برای برنامه ریزی تعطیلات رویایی شما</a></h5>
              <ul class="blog-meta">
                <li><i class="far fa-calendar-alt"></i> <a href="#">25 اسفند 1403</a></li>
                <li><i class="far fa-comments"></i> <a href="#">نظرات (5)</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="assets/images/blog/blog2.jpg" alt="Blog">
            </div>
            <a href="blog-details.html" class="theme-btn">
              <span data-hover="ادامه مطلب">ادامه مطلب</span>
              <i class="fal fa-arrow-left"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="blog-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
            <div class="content">
              <a href="blog.html" class="category">سفر</a>
              <h5><a href="blog-details.html">راهنمای نهایی برای برنامه ریزی تعطیلات رویایی شما</a></h5>
              <ul class="blog-meta">
                <li><i class="far fa-calendar-alt"></i> <a href="#">25 اسفند 1403</a></li>
                <li><i class="far fa-comments"></i> <a href="#">نظرات (5)</a></li>
              </ul>
            </div>
            <div class="image">
              <img src="assets/images/blog/blog3.jpg" alt="Blog">
            </div>
            <a href="blog-details.html" class="theme-btn">
              <span data-hover="ادامه مطلب">ادامه مطلب</span>
              <i class="fal fa-arrow-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Area end -->

</div>
