<section class="page-banner-area pt-50 pb-35 rel z-1 bgs-cover"
  style="background-image: url(../../assets/images/banner/banner.jpg);">
  <div class="container">
    <div class="banner-inner text-white mb-50">
      <h2 class="page-title mb-10" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">تورها سبک 2</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center mb-20" data-aos="fade-left" data-aos-delay="200"
          data-aos-duration="1500" data-aos-offset="50">
          <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
          <li class="breadcrumb-item active">تورها سبک 2</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<!-- Page Banner End -->


<!-- Tour Grid Area start -->
<section class="tour-grid-page py-100 rel z-2">
  <div class="container">
    <div class="shop-shorter rel z-3 mb-20">
      <select class="select-nice">
        <option value="default" selected="">فیلتر بر اساس قیمت</option>
        <option value="$10-$100">10-100 تومان</option>
        <option value="$101-$200">101-200 تومان</option>
        <option value="$201-$300">201-300 تومان</option>
        <option value="$301-$400">301-400 تومان</option>
        <option value="$401-$500">401-500 تومان</option>
      </select>
      <select class="select-nice">
        <option value="default" selected="">توسط امتیاز</option>
        <option value="1-star">1 ستاره</option>
        <option value="2-star">2 ستاره</option>
        <option value="3-star">3 ستاره</option>
        <option value="4-star">4 ستاره</option>
        <option value="5-star">5 ستاره</option>
      </select>
      <select class="select-nice">
        <option value="default" selected="">توسط زبان</option>
        <option value="english">انگلیسی</option>
        <option value="bangla">فارسی</option>
      </select>
      <select class="select-nice ms-xl-auto">
        <option value="default" selected="">بر اساس مدت زمان</option>
        <option value="10-100hr">10-100 ساعت</option>
        <option value="101-200hr">101-200 ساعت</option>
        <option value="201-300hr">201-300 ساعت</option>
        <option value="301-400hr">301-400 ساعت</option>
        <option value="401-500hr">401-500 ساعت</option>
      </select>
      <select class="select-nice search-order-select">
        <option [value]="null" selected>مرتب سازی بر اساس</option>
        @for (tourOrderFilter of getEnumEntriestourOrder(); track $index) {
        <option [value]="tourOrderFilter.value">{{tourOrderFilter.key}}</option>
        }
      </select>
    </div>
    <hr class="mb-50">
    <div class="row">
      @for (item of TourList; track $index) {
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <div class="image">
            <span class="badge bgc-pink">برجسته</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img [src]="'../../assets/images/destinations/tour-list1.jpg'" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i>{{item.DestinationName}}</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a (click)="goToDetails()">{{item.Title}}</a></h5>
            <p>{{item.Description}}</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i>{{item.DurationNight + ' شب و ' + (item.DurationNight +1) + ' روز'}}</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>{{item.Price}} تومان</span> / هر نفر</span>
              <a (click)="goToDetails()" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-lg-12">
        <ul class="pagination justify-content-center pt-15 flex-wrap" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <li class="page-item disabled">
            <span class="page-link"><i class="far fa-chevron-right"></i></span>
          </li>
          <li class="page-item active">
            <span class="page-link">
              1
              <span class="sr-only">(جاری)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="far fa-chevron-left"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="row">


      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <div class="image">
            <span class="badge bgc-pink">برجسته</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img [src]="'../..//destinations/tour-list1.jpg'" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> بالی، اندونزی</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، سواحل و مناظر خیره‌کننده بهشت ​​استوایی است</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="50" data-aos-offset="50">
          <div class="image">
            <span class="badge">%10 تخفیف</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="../..//destinations/tour-list2.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، بهشت ​​استوایی است که به خاطر سواحل و مناظر خیره کننده شهرت دارد</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="100" data-aos-offset="50">
          <div class="image">
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="../..//destinations/tour-list3.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> بالی، اندونزی</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، سواحل و مناظر خیره‌کننده بهشت ​​استوایی است</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <div class="image">
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="assets/images/destinations/tour-list4.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، بهشت ​​استوایی است که به خاطر سواحل و مناظر خیره کننده شهرت دارد</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="50" data-aos-offset="50">
          <div class="image">
            <span class="badge bgc-pink">برجسته</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="assets/images/destinations/tour-list5.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، بهشت ​​استوایی است که به خاطر سواحل و مناظر خیره کننده شهرت دارد</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="100" data-aos-offset="50">
          <div class="image">
            <span class="badge">%10 تخفیف</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="assets/images/destinations/tour-list6.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> بالی، اندونزی</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، سواحل و مناظر خیره‌کننده بهشت ​​استوایی است</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <div class="image">
            <span class="badge">%10 تخفیف</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="../../assets/images/destinations/tour-list7.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، بهشت ​​استوایی است که به خاطر سواحل و مناظر خیره کننده شهرت دارد</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="50" data-aos-offset="50">
          <div class="image">
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="../../assets/images/destinations/tour-list8.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> رم، ایتالیا</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، بهشت ​​استوایی است که به خاطر سواحل و مناظر خیره کننده شهرت دارد</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="destination-item tour-grid style-three bgc-lighter" data-aos="fade-up" data-aos-duration="1500"
          data-aos-delay="100" data-aos-offset="50">
          <div class="image">
            <span class="badge bgc-primary">محبوب</span>
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <img src="../../assets/images/destinations/tour-list9.jpg" alt="Tour List">
          </div>
          <div class="content">
            <div class="destination-header">
              <span class="location"><i class="fal fa-map-marker-alt"></i> بالی، اندونزی</span>
              <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <h5><a href="tour-details.html">سفر دریاچه کروز خلیج با قایق در بالی، اندونزی</a></h5>
            <p>بالی، اندونزی، سواحل و مناظر خیره‌کننده بهشت ​​استوایی است</p>
            <ul class="blog-meta">
              <li><i class="far fa-clock"></i> 3 روز 2 شب</li>
              <li><i class="far fa-user"></i> 5-8 مهمان</li>
            </ul>
            <div class="destination-footer">
              <span class="price"><span>580 تومان</span> / هر نفر</span>
              <a href="tour-details.html" class="theme-btn style-two style-three">
                <span data-hover="رزرو تور">رزرو تور</span>
                <i class="fal fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <ul class="pagination justify-content-center pt-15 flex-wrap" data-aos="fade-up" data-aos-duration="1500"
          data-aos-offset="50">
          <li class="page-item disabled">
            <span class="page-link"><i class="far fa-chevron-right"></i></span>
          </li>
          <li class="page-item active">
            <span class="page-link">
              1
              <span class="sr-only">(جاری)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="far fa-chevron-left"></i></a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</section>
<!-- Tour Grid Area end -->


<!-- Newsletter Area start -->
<section class="newsletter-three bgc-primary py-100 rel z-1"
  style="background-image: url(../../assets/images/newsletter/newsletter-bg-lines.png);">
  <div class="container container-1500">
    <div class="row">
      <div class="col-lg-6">
        <div class="newsletter-content-part text-white rmb-55" data-aos="zoom-in-left" data-aos-duration="1500"
          data-aos-offset="50">
          <div class="section-title counter-text-wrap mb-45">
            <h2>برای دریافت پیشنهادات و نکات بیشتر در خبرنامه </h2>
            <p>یک سایت <span class="count-text plus" data-speed="3000" data-stop="34500">0</span> محبوب ترین تجربه ای که
              به یاد خواهید آورد</p>
          </div>
          <form class="newsletter-form mb-15" action="#">
            <input id="news-email" type="email" placeholder="آدرس ایمیل" required>
            <button type="submit" class="theme-btn bgc-secondary style-two">
              <span data-hover="اشتراک">اشتراک</span>
              <i class="fal fa-arrow-right"></i>
            </button>
          </form>
          <p>بدون نیاز به کارت اعتباری بدون تعهد</p>
        </div>
        <div class="newsletter-bg-image" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="1500"
          data-aos-offset="50">
          <img src="../../assets/images/newsletter/newsletter-bg-image.png" alt="Newsletter">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-image-part bgs-cover"
          style="background-image: url(../../assets/images/newsletter/newsletter-two-right.jpg);" data-aos="fade-right"
          data-aos-duration="1500" data-aos-offset="50"></div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Area end -->
