@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cdk-overlay-container .date-picker-popup {
  direction: rtl;
}
.calendar-button{
  right: auto !important;
  left: 0 !important;
}

input:focus {
  scroll-margin-top: 0 !important;
  scroll-behavior: auto !important;
}
.cdk-overlay-container{
  position: fixed;
  z-index: 2000!important;
}
/* تنظیمات مخصوص موبایل  datepicker*/
@media (max-width: 640px) {
  .cdk-overlay-container .date-picker-popup {
    width: 20rem !important;
  }
  .cdk-overlay-container {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
  }
}
